/* General styles, e.g. body, h1, p, ... */
:root {
  --main-color: #254E58;
  --sec-color: #88BDBC;
  --third-color: #112D32;
  --fourth-color: #4F4A41;
  /* --fifth-color: #6E6658; */
  --fifth-color: #212121;
}

body {
}

/* Custom styles */



/* Navigation styles */

.navigation_section {
  opacity: 0.3;
}

.navbar {
  background-color: var(--fifth-color);
}

.navigation_section:hover {
  opacity: 1.0;

}

.navbar-dark .navbar-nav {
  width:80%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

.navbar-dark .navbar-nav .nav-item {
  margin-right: 5%;
}


@media only screen and (min-width: 992px) {
  #collapsibleNavbar {
    margin-left: -3%;
  }
}

@media only screen and (max-width: 600px) {
  #collapsibleNavbar {
    margin-left: 3%;
  }
}

/* Footer styles */

#foot {
  padding-top: 2%;
  padding-bottom: 1%;
  position: relative;
  background-color: var(--fourth-color);
  height: 150px;
}

#footer_item {
  font-size: 25px;
  color: white;
}

/* Content styles */

.content {
  max-width: 100%;
  min-height: calc(100% - 200px);
  /* background-image: url("../Images/HolzWallpaper3.jpg");
  background-size: contain; */
  background-color: var(--main-color);
  position: relative;
  z-index: -1;
}

/* First part */

#titleImageDiv {
  width: 100%;
}

#title_image {
  margin-top: 6%;
  height: 90vh;
}

#titleImage {
  background-image: url("../Images/RüdigerFoto2Kopie.jpg");
  background-size: cover;
  height: 90vh;
}

/* top value has to be adjusted for different media queries */
.carousel-caption {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 80px;
  top: 50%;
  /* text-shadow: 4px 3px 0px #130D3A; */
}

/* Second part, about me */

#aboutme_container {
  color: white;
  padding-top: 10%;
}

#aboutme_paragraph {
  width: 80%;
  font-size: 20px;
  color: var(--sec-color);
}

#aboutme_title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 4em;
  margin-bottom: 3%;
  color: var(--sec-color);
}

/* Image gallery */

#galleryParent {
  padding-top: 10%;
  padding-bottom: 7%;
}

#gallery {
  height: 80vh;
  width:65vw;
  margin: auto;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item {
  transition-duration: 0.5s;
}

.img_box {
  height: 80vh;
  width: 60vw;
  -webkit-box-shadow: 2px 2px 9px 9px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 9px 9px rgba(0,0,0,0.3);
}

.img-fluid {

}


/* Image gallery typography */

#poem_title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 4em;
  margin-bottom: 5%;
  color: var(--sec-color);
}

/* Design elements */

#line_one {
  margin-top: 7%;
  height: 5px;
}

#line_one_end {
  margin-top: 5%;
  height: 5px;
}

#line_two {
  /* margin-top: 3%; */
  margin-bottom: 7%;
  height: 5px;
}

#line_two_end {
  height:5px;
  margin-bottom: 5%;
}

#line_middle {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 3px;
}
